.commentWrapper {
    display: grid;
    grid-template-columns: 3.175rem 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.commentWrapper img {
    width: 3.175rem;
    height: 3.175rem;

    border-radius: 8px;
}

.comment {
    background-color: var(--gray-700);
    padding: 1rem;

    border-radius: 8px;
}

.comment header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfo { 
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.userInfo strong {
    font-size: 0.875rem;
    color: var(--white);
}

.userInfo span {
    font-size: 0.75rem;
    color: var(--gray-400);
}

.icon {
    color: var(--gray-400);
}

.like {
    margin-top: 1rem;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: 0.875rem;
    color: var(--gray-400);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.625rem;
}

.like:hover {
    color: var(--green-400);
    cursor: pointer;
}